.chart-grid {
  display: grid;
  gap: 30px;
  padding: 30px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.heightclass {
  height: 500px !important;
}

.chart-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.chart-item:hover {
  transform: scale(1.02) !important;
}

.piechart {
  width: 32rem !important;
  height: 26rem !important;
}

.barchart {
  width: 32rem !important;
  height: 26rem !important;
}

.linechart {
  width: 32rem !important;
  height: 26rem !important;
}

.performancechart {
  width: 32rem !important;
  height: 20rem !important;  
}

canvas {
  height: 400px;
}

@media (max-width: 768px) {
  .chart-grid {
    grid-template-columns: 1fr;
  }

  canvas {
    height: 18rem !important;
  }
}
